{% extends "base.html" %}

{% block content %}

<div class="container py-3">


<div class="d-flex align-items-center mb-4">

    <a href="/profile"
       class="btn btn-light border rounded-circle me-3">
        ←
    </a>

    <h3 class="fw-bold mb-0">
        Change Password
    </h3>

</div>

<div class="card border-0 shadow-sm rounded-4">

    <div class="card-body">

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Current Password
                </label>

                <input
                    type="password"
                    name="current_password"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    New Password
                </label>

                <input
                    type="password"
                    name="new_password"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Confirm Password
                </label>

                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    required>

            </div>

            <button
                type="submit"
                class="btn btn-primary w-100">

                Update Password

            </button>

        </form>

    </div>

</div>


</div>

{% endblock %}
