{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center"
     style="min-height:70vh;">

    <div class="card shadow border-0 rounded-4 text-center p-4"
         style="max-width:450px;">

        <div style="font-size:70px;">
            ❌
        </div>

        <h3 class="fw-bold text-danger mt-3">
            Login Failed
        </h3>

        <p class="text-muted mt-3">

            Invalid mobile number
            or password.

            <br><br>

            Please check your details
            and try again.

        </p>

        <a href="/login"
           class="btn btn-primary rounded-pill">

            Try Again

        </a>

    </div>

</div>

{% endblock %}