{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center justify-content-between mb-4">


<a href="/products"
   class="btn btn-outline-secondary me-3">

    ← Back

</a>

<h2 class="mb-0">
    My Orders
</h2>


</div>



{% for order in orders %}

<div class="card mb-3 shadow-sm">

    <div class="card-body">

        <h5>
            Order #{{ order.order_id }}
        </h5>

        <p class="mb-1">
            Total: ₹{{ order.total_amount }}
        </p>

        <p class="mb-1">
            Status:
            <span class="badge bg-primary">
                {{ order.status }}
            </span>
        </p>

        <p class="mb-0 text-muted">
            {{ order.order_date }}
        </p>

    </div>

</div>

{% endfor %}

{% endblock %}