{% extends "base.html" %}

{% block content %}

<div class="container py-5">


<div class="card shadow-sm border-0 rounded-4 mx-auto"
     style="max-width:500px;">

    <div class="card-body text-center p-5">

        <div style="font-size:80px;">
            🎉
        </div>

        <h2 class="fw-bold text-success mt-3">

            Registration Successful

        </h2>

        <p class="text-muted mt-3">

            Your Boat Owner account has been
            created successfully.

        </p>

        <p class="text-muted">

            You can now login using your
            mobile number and password.

        </p>

        <a href="/login"
           class="btn btn-primary w-100 mt-3">

            🔐 Login Now

        </a>

    </div>

</div>


</div>

{% endblock %}
