{% extends "base.html" %}

{% block content %}

<div class="container py-3">

<div class="sticky-top bg-light py-1 mb-2">

    <div class="d-flex justify-content-end gap-2 flex-wrap">

        <a href="/products?category=Drinks"
           class="btn btn-primary rounded-pill">
            🥤 Drinks
        </a>

        <a href="/products?category=Snacks"
           class="btn btn-warning rounded-pill">
            🍪 Snacks
        </a>

        <div class="dropdown">

            <button
                class="btn btn-outline-dark dropdown-toggle rounded-pill"
                data-bs-toggle="dropdown">

                More

            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                <li>
                    <a class="dropdown-item"
                       href="/products?category=Grocery Items">
                        🛒 Grocery Items
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="/products?category=Engine Oil & Lubricants">
                        ⚙ Engine Oil
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="/products?category=Fishing Equipment">
                        🎣 Fishing Equipment
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       href="/products?category=Boat Accessories">
                        🔧 Boat Accessories
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>

<div class="row">

    {% for product in products %}

    <div class="col-6 col-md-4 col-lg-3 mb-3">

        <div class="card border-0 shadow-sm h-100 rounded-4">

            <img
                src="https://placehold.co/300x200"
                class="card-img-top rounded-top-4 product-image"
                alt="{{ product.product_name }}">

            <div class="card-body d-flex flex-column">

                <h6 class="fw-bold">
                    {{ product.product_name }}
                </h6>

                <small class="text-muted">
                    {{ product.category }}
                </small>

                <h5 class="text-success mt-2">
                    ₹{{ product.price }}
                </h5>

{% if product.available_stock > 10 %}

    <span id="stock-{{ product.product_id }}" class="badge bg-success px-3 py-2 mb-3">

        ✅ In Stock
        ({{ product.available_stock }})

    </span>

{% elif product.available_stock > 5 %}

    <span id="stock-{{ product.product_id }}" class="badge bg-warning text-dark px-3 py-2 mb-3">

        ⚠  Low
        ({{ product.available_stock }} left)

    </span>

{% elif product.available_stock > 0 %}

    <span id="stock-{{ product.product_id }}" class="badge bg-danger px-3 py-2 mb-3">

        🔥 Only {{ product.available_stock }} Left

    </span>

{% else %}

    <span class="badge bg-dark px-3 py-2 mb-3">

        ❌ Out Of Stock

    </span>
{% endif %}

{% if product.available_stock > 0 %}

<div class="mt-auto">

 <button
    type="button"
    class="btn btn-primary w-100"
    onclick="addToCart({{ product.product_id }}, this)">

    Add To Cart

</button>

</div>

{% else %}

<button
    class="btn btn-danger w-100"
    disabled>

    Out Of Stock

</button>

{% endif %}

            </div>

        </div>

    </div>

    {% endfor %}

</div>


</div>

<script>

async function addToCart(productId, button) {

    try {

        const productCard =
    button.closest(".card");

const productImage =
    productCard.querySelector(".product-image");

const cartIcon =
    document.querySelector('a[href="/cart"]');

if (productImage && cartIcon) {

    const flyingItem =
        productImage.cloneNode(true);

    const start =
        productImage.getBoundingClientRect();

    const end =
        cartIcon.getBoundingClientRect();

    flyingItem.style.position = "fixed";
    flyingItem.style.left = start.left + "px";
    flyingItem.style.top = start.top + "px";
    flyingItem.style.width = "60px";
    flyingItem.style.height = "60px";
    flyingItem.style.borderRadius = "50%";
    flyingItem.style.zIndex = "9999";
    flyingItem.style.pointerEvents = "none";
     document.body.appendChild(flyingItem);


    setTimeout(() => {

        flyingItem.style.left =
            end.left + "px";

        flyingItem.style.top =
            end.top + "px";

        flyingItem.style.width = "20px";

        flyingItem.style.height = "20px";

        flyingItem.style.opacity = "0.2";

    }, 10);


    setTimeout(() => {

        flyingItem.remove();

    }, 800);

}

        const response = await fetch(
            `/add-to-cart/${productId}`,
            {
                method: "POST"
            }
        );

        const data = await response.json();

        if (data.success) {

            const topBadge =
                document.getElementById("cart-badge");

            if (topBadge) {

    topBadge.innerText = data.cart_count;
    topBadge.classList.remove("cart-bounce");

setTimeout(() => {

    topBadge.classList.add("cart-bounce");

}, 10);

    if (data.cart_count > 0) {

        topBadge.style.display = "inline-block";

    } else {

        topBadge.style.display = "none";

    }

}
            const bottomBadge =
                document.getElementById("bottom-cart-badge");

           if (bottomBadge) {

    bottomBadge.innerText = data.cart_count;
   bottomBadge.classList.remove("cart-bounce");

setTimeout(() => {

    bottomBadge.classList.add("cart-bounce");

}, 10);

    if (data.cart_count > 0) {

        bottomBadge.style.display = "inline-block";

    } else {

        bottomBadge.style.display = "none";

    }

}
            const toast =
                document.getElementById("cart-toast");

            if (toast) {

                toast.style.display = "block";

                setTimeout(() => {

                    toast.style.display = "none";

                }, 1500);

            }

        }

    }

    catch (error) {

        console.error(
            "Add To Cart Error:",
            error
        );

    }

}

</script>

{% endblock %}
